{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
          "last 1 chrome version"
        ]
      }
    ],
    ["@babel/preset-react", {
      "runtime": "automatic",
      "importSource": "react"
    }]
  ],
  "env" : {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true,
            "additionalLibraries": ["react-style-proptype"]
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-attributes"
  ]
}
